<!DOCTYPE html>
<html>
  <head>
    <title><%=t('application_name')%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-blue-100'>
    <main class="h-screen">
      <div class="flex justify-center items-center">
        <div class="text-center">
          <%=render 'layouts/application_name' %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
